# See https://www.dartlang.org/guides/libraries/private-files

.dart_tool/
.packages
build/

doc/api/

.env*

*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies

.fvm/

.venv/
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/
*.py.lock

*.freezed.dart
*.g.dart

.idea/
.vscode/
*.iml
.DS_Store
